* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */


/* Reset css */

img {
	max-width: 100%;
	display: block;
}

/* Navbar Superiore */

.reel-header {
	align-content: center;
	margin: 24px;
}

.navheader-container{
 display: flex;
 justify-content: space-between;
 color: white;
 align-items: center;
}

.navheader-contents {
	display: flex;
}

.navheader-content {
	margin: 8px;
}


/* Struttura Sidebar */
 
.sidebar {
	top: 35%;
}

.contents-sidebar {

	display: flex;
    color: white;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.content-sidebar {
	text-align: center;
}

.profile-image {
	width: 25%;
	align-self: center;
	position: relative;
}

.seguiprofilo {
	position: absolute;
	top: 25px;
}

.icon-structure {
	font-size: 1.8rem;
}


/* Struttura Navbar Inferiore */

.containerflex {
	display: flex;
}

.container-navbarinferiore {
	display: flex;
	justify-content: space-between;
	line-height: 60px;
	flex: 1 1 0;
	background-color: black;
	color: white;
}

/* Reset ul */

ul
{
list-style: none;
padding: 0;
margin: 0;
}

/* Footer */

.container-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90px;
	background-color: black;
}	

.content-footer {
	text-align: center;
}